In [25]:
import pandas as pd
import numpy as np
from datetime import datetime
# Wczytanie danych z pliku pomiarów
dane_instalacji = pd.read_csv('/Users/julia/Downloads/dataset_pv/dane_03-06.csv', sep='\t', skiprows=2)



# Zmieniamy nazwy kolumn, aby uniknąć duplikatów
dane_instalacji.columns = [
    'Data', 'Czas', 'PV1 Pd', 'PV2 Pln', 'PV3 Zach', 'PV4 Wsch', 
    'Obciążenie L1', 'Obciążenie L2', 'Obciążenie L3', 
    'PV1 Pd_max', 'PV2 Pln_max', 'PV3 Zach_max', 'PV4 Wsch_max', 
    'Obciążenie L1_max', 'Obciążenie L2_max', 'Obciążenie L3_max', 
    'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'
]

# Usunięcie kolumn "Unnamed"
dane_instalacji = dane_instalacji.loc[:, ~dane_instalacji.columns.str.contains('Unnamed')]

# Usuwanie potencjalnych wierszy, które zawierają tekst w kolumnach 'Data' lub 'Czas'
dane_instalacji = dane_instalacji[dane_instalacji['Data'].str.match(r'\d{2}\.\d{2}\.\d{4}') & dane_instalacji['Czas'].str.match(r'\d{2}:\d{2}:\d{2}')]

# Konwersja kolumn 'Data' i 'Czas' na datetime, przy użyciu dayfirst=True
dane_instalacji['timestamp'] = pd.to_datetime(dane_instalacji['Data'] + ' ' + dane_instalacji['Czas'], dayfirst=True, errors='coerce')

# Usuwanie wierszy, gdzie timestamp nie jest poprawny
dane_instalacji.dropna(subset=['timestamp'], inplace=True)

# Usunięcie kolumn 'Data' i 'Czas', które już nie są potrzebne
dane_instalacji.drop(['Data', 'Czas'], axis=1, inplace=True)

# Ustawienie kolumny 'timestamp' jako indeksu
dane_instalacji.set_index('timestamp', inplace=True)

# Wyświetlenie przetworzonych danych do weryfikacji
dane_instalacji.head()

,PV1 Pd,PV2 Pln,PV3 Zach,PV4 Wsch,Obciążenie L1,Obciążenie L2,Obciążenie L3,PV1 Pd_max,PV2 Pln_max,PV3 Zach_max,PV4 Wsch_max,Obciążenie L1_max,Obciążenie L2_max,Obciążenie L3_max
timestamp,,,,,,,,,,,,,,
2024-03-01 00:05:01,"0,00","0,00","0,00","2,00","181,27","34,23","30,43","0,00","0,00","0,00","0,00","261,00","45,00","31,00"
2024-03-01 00:10:01,"0,00","0,00","0,00","2,00","181,43","32,07","31,07","0,00","0,00","0,00","0,00","264,00","51,00","32,00"
2024-03-01 00:15:01,"0,00","0,00","0,00","2,00","161,77","28,53","30,97","0,00","0,00","0,00","0,00","174,00","33,00","32,00"
2024-03-01 00:20:01,"0,00","0,00","0,00","2,00","149,67","21,20","31,13","0,00","0,00","0,00","0,00","151,00","30,00","32,00"
2024-03-01 00:25:01,"0,00","0,00","0,00","2,00","236,28","20,79","31,21","0,00","0,00","0,00","0,00","298,00","24,00","32,00"